@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #222731;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
  width: 500px;
  text-align: center;
  background-color: #ccc;
  box-shadow: 0 0 35px 5px #0003;
  padding: 35px;
}

.button-container {
  padding-top: 35px;
}
